<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Заголовок страницы</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
    <link rel="shortcut icon" href="../public/images/key.png" />
</head>
<body>
    <div class="wrapper">
    <div class="content">
    
        <ul id="navbar">
            <li><a href="./intro.html">Описание продукции</a></li>
            <li><a href="./feeds.html">Отзывы о продукции</a></li>
            <li><a href="./new_feed.html">Добавить отзыв</a></li>
        </ul>    

        <br>
        <p class="aligncenter">
            <img src="../public/images/logo.jpg" alt="logo" width="250" height="180">
        </p>

        <br><br>
        <div id="intro">
            <p class="intro" >
                Желаете проверить на прочность свои нервы? Вам интересно узнать, что таит темнота?
                Может быть насекомых? маньяков? клоунов? Приходите решать самые сложные головоломки в напряженной обстановке.
            <p class="aligncenter">
                <img src="../public/images/clown.jpg" alt="logo" width="600" height="400"> 
        </div>
    
    </div>
    <div class="footer">
        <p class="footer-text">&copy; E.Nikolaev</p>
    </div>
    </div>
</body>
</html>
